.OnMarketBlock{
  background: rgba(37, 255, 57, 0.01);
  //border-top: 1px solid rgba(37, 255, 57, 0.3) !important;
  border-bottom: 1px solid rgba(37, 255, 57, 0.2) !important;
}
.NotMarketBlock{
  background: rgb(206, 8, 48, .1);;
  //border-top: 1px solid rgb(206, 8, 48, .3) !important;
  border-bottom: 1px solid rgb(206, 8, 48, .2) !important;


}

.BlockLine{
  padding-right: 5px;
  padding-left: 5px;
  //padding: 2px;
  //height: 40px;

}