.BldTabs{
  padding: 0 1em;
}

.BlockList{
  max-height: 50vh;
  overflow-y: scroll;
}

.Tabs{
  position: relative;
  top: -7px;

}


.HeaderRow{
  display: flex;
  justify-content: space-between;
}

.HeaderRowMenu{
  a{
    padding-left: .7em;
    color: #2C3847;

  }
  a:hover{
    color: #e31c79;
  }
}