.BldTabs{
  padding: 0 1em;
}

.BlockList{
  max-height: 50vh;
  overflow-y: scroll;
}

.Tabs{
  position: relative;
  top: -7px;

}

.StickyCont{
  position: sticky;
  top: 0;

  max-height: calc(100vh - 110px);
  overflow: scroll;
  .PicCont{
    display: none;
  }
}

.HeaderRow{
  display: flex;
  justify-content: space-between;
}

.HeaderRowMenu{
  a{
    padding-left: .7em;
    color: #2C3847;

  }
  a:hover{
    color: #e31c79;
  }
}

.PicCont{
  height: 300px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0 .5em .5em .5em;
  margin-bottom: .5em;
  img{
    max-width:100%;
    max-height:100%;
  }
}