.ListItem{
  position: relative;

  select{
    position: absolute;
    top: 31px;
    right: 45px;
  }
}

.isOrderUpdating{
  opacity: 0.5;
}


.PrevBtn,
.NextBtn {
    z-index: 9999;
    cursor: pointer;
    color: lightgoldenrodyellow;
    height: 40px;;
}
