.SearchComp {
  margin-right: 2em;
}




.Container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.QueryBuilder {
  ul {
    list-style: none;
    margin-bottom: .3em;
    padding: 0;

    li {
      >div:nth-child(1) {
        margin-right: .3em;
      }

      >div:nth-child(2) {
        margin-right: .3em;
      }

      margin-bottom: .4em;

      &:last-child {
        margin-bottom: 0em;

      }
    }
  }

  margin-right: 2em;
}

.RemoveBtn {
  margin-left: .5em;
}

.IconCont {
  display: flex;
  align-items: center;
}






.BlockTable {
  tr>th {
    background: rgba(255, 164, 202, 0.2) !important;
  }
}

.BldTable {
  tr>th {
    background: rgba(0, 204, 250, .2);

  }


}


.MiniHeader {
  display: flex;

  >a {
    font-size: 10px;
    margin-left: .3em;
  }
}

.container {
  width: 100%;
  //height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Info {
  padding: 0 0 .2em 0;
  float: right;
  flex: none;
}

.ResultsContainer {
  flex: 1;
  position: relative;
}

.table {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.SimpleResults {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.Pagination {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}