.SearchForm{
  display: flex;
  flex-direction: row;
  height: 400px;
  overflow: scroll;

}
.HeadersCont{
  display: flex;
  flex-direction: row;

  h2{
    width: 50%;
    text-align:center;
  }
  margin-bottom: 1em;
}
.SearchSubForm{
  width: 50%;
  padding: 0em 2em;
  //height: fit-content;
  overflow: scroll;

  &:nth-child(1){
    border-right: 1px solid #eaeaea;
    border-right-style: dashed;
  }
}

.Closed{
  height: 30px;
  //-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  //-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  //box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  overflow: hidden;
}